language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

sudo: false

before_install:
  - composer self-update

install:
  - travis_retry composer update --prefer-stable --no-interaction --prefer-source

script: vendor/bin/phpunit
